<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
     <h1>Admin HomePage</h1>
    

         Name : {{admin.username}} <br><br>
         emailId: {{admin.emailId}}<br><br>
         role : {{admin.role}}<br><br>
         id:{{admin._id}}<br><br>


         <a href="/list-all-user"> List all Users</a> <br><br>

         {{!-- <a href="/update-users"> Click here to update Users</a> <br><br> --}}

         <form action="/update-user" method="POST">
            <input type="text" name = "id">
            <input type="submit">
         </form>
         
     <br><br>
        <a href="/"> Click Here To Go Back To Home Page</a>
    
    </body>
</html>
