<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div style="text-align: center;">
        <h1>
            WELCOME TO MANAGEMENT SYSTEM APP
        </h1>
            <h2>Admin log in</h2>
            <a href="signup">click to sign up</a><br>
            <a href="signin">click to sign in</a><br>

            <h2>Teacher log in</h2>
            <a href="/teacher/signin">click to sign in</a><br>

            <h2>Student log in</h2>
            <a href="/student/signin">click to sign in</a><br>
            
        </div>
    </body>
</html>