<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div style="text-align: center;">
            <h1 style="text-align: center; background: chartreuse;">Sign In</h1>
        </div>
            <div style="text-align: center;" >
            <form action="/student_signin" method="POST">
                <input type="text" placeholder="Enter emailId" name="emailId" required><br><br>
                <input type="password" placeholder="Enter password" name="password" ><br><br>
                <input type="submit" >
                <br><br>
                <a href="/"> Click Here To Go Back To Home Page</a>
            </form>
        </div>
    </body>
</html>